.container {
    display: flex;
    margin: 5px;
    width: 50%;
    justify-content: center;
    padding-left: 15%;
    padding-top: 5%;
    
    
}

.container input {
    border-radius: 100px;
    height: 30px;
    width: 85%;
    
}

.container button {
    
    height: 30px;
    background-color: rgb(110, 110, 110);
    border-radius: 100px;
    color: white;
    width: 50%;
    }
.container button:hover{
    background-color: #0071e2;
    cursor: pointer;
}

.container form {
    align-items: center;
;}