
.container {
  display: flex;
  margin: 5px;
  width: 100%;
  justify-content: center;
  align-items: center;
}


.container li{
    
    background: salmon;
    color: white;
    font-size: 18px;
    border-left: 2px solid black;
    border-radius: 25px;
    padding:8px;
    text-align: center;
    width: 150px;
    box-shadow: 0 0 15px black;
      
}

.container ul {
  display: flex;
  
  flex-direction: row;
  list-style-type: none;
   
}

.container ul :hover{
  background: yellow;
} 

